:root {
    --section-bg-color: #F7F7F7;
    --font-color: #343434;
    --navbar-bg-color: #F7F7F7;
}

section {
    --navbar-bg-color: #F7F7F7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
    color: inherit;
}
.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--font-color);
}





/* navbar */

nav .nav-item a {
    position: relative;
    width: fit-content;
    font-size: 14px;
    color: #000;
}

nav .nav-item a::after {
    padding: 0 0 0 0;
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    left: 0;
    top: 90%;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

nav .nav-item .active::after,
nav .nav-item:hover a::after {
    width: 100%;
}

.navbar-toggler {
    border: none
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* header section */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(/imgs/bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

header li {
    width: 35px;
    height: 35px;
    background-color: #000b12;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}